.result-panel {
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    transform: translate(-50%, -50%);
    inline-size: 40%;
    max-inline-size: 500px;
    min-block-size: 800px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    border-radius: 10px;
}
.card{
    inline-size: 300px;
    min-block-size: 600px;
}